@model CleanStudentManagment.Models.StudentProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<hr />
<div class="row">

    <form asp-action="Profile" enctype="multipart/form-data">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input readonly asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img src="@(Model.ProfilePicture == null ? "/StudentImage/demo.png" : Model.ProfilePicture)" alt="Profile Image" class="img-thumbnail" style="width: 120px; height: 150px;" />
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureUrl" class="control-label"></label>
                <input asp-for="ProfilePictureUrl" class="form-control" />
                <input type="hidden" asp-for="ProfilePicture" class="form-control" />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <div>
                @if (Model.CVFileName != null)
                {
                    <a href="@Model.CVFileName">Download CV</a>
                }
            </div>
            <div class="form-group">
                <label asp-for="CVFileUrl" class="control-label"></label>
                <input type="hidden" asp-for="CVFileName" class="form-control" />
                <input asp-for="CVFileUrl" class="form-control" />
                <span asp-validation-for="CVFileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

